body {
	background-image: url("photo.jpg");
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 2px 1px purple;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}